body {
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    margin: 0;
    overflow-y: hidden;
    background-image: radial-gradient(ellipse at 0 0, #fff8ce, #ffb61d);
}

#wrapper {
    width: 90%;
    max-width: 1340px;
    margin: auto;
}

header {
    padding: 50px 0;
}

h1 {
    font-size: 66px;
}

h1 strong {
    text-transform: uppercase;
    color: brown;
}

main {
    display: flex;
    gap: 2rem;
}

main>* {
    /* flex-grow: 1;
    flex-basis: 0; */
    flex: 1 0 0;
}

.upper {
    text-transform: uppercase;
}

p {
    font-weight: 300;
}

form {
    display: flex;
    gap: 1rem;
}

form input {
    padding: 1rem;
    border-radius: 6px;
    font-family: inherit;
    border: 1px solid #28293E;
    outline: none;
}

form input[type="submit"] {
    background-color: #031D44;
    color: white;
}

form input[type="text"] {
    background-color: transparent;
}

form input[type="text"]::placeholder {
    color: #28293E;
}

.animation {
    position: relative;
}

.animation img {
    position: absolute;
}

.animation img:nth-child(1) {
    left: 10px;
    top: 150px;
    animation: topleft 2s infinite alternate;
}

.animation img:nth-child(2) {
    right: 10px;
    top: 20px;
    animation: topleft 3s .5s infinite alternate;
}

.animation img:nth-child(3) {
    right: 0;
    top: 0;
    animation: topleft 3.5s .5s infinite alternate;
}

.animation img:nth-child(4) {
    left: 100px;
    bottom: -100px;
    animation: topleft 4s .5s infinite alternate;
}

.animation img:nth-child(5) {
    left: 100px;
    top: -100px;
    animation: topleft 3s infinite alternate;
}

.animation img:nth-child(6) {
    right: 100px;
    bottom: -100px;
    animation: topleft 4s infinite alternate;
}



@keyframes topleft {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(-10px, -30px);
    }
}