article{
    outline: 4px solid green;
}

article a {
    color: red;
}

article a > b{
    color: green
}

h3 + p{
   background-color: yellow; 
}
hr ~ p{
    border: 4px dashed orange;
}

.destaque{
    padding-left: 2rem;
}

article p:not(.destaque){
    background-color: #aeadad;
}