body {
    background-color: dimgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-weight: 300;
}

.cards_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card {
    background-color: rgb(39, 39, 39);
    color: white;
    padding: 1rem;
    box-sizing: border-box;
}