:root {
    --primary-color: #e10f0f;
}

body {
    font-family: sans-serif;
    background-image: linear-gradient(to top, rgb(0 0 255 / .9) 50%, red), url(imagens/tile.png);
    background-attachment: fixed, scroll;
    background-blend-mode: color;
}

.cores {
    --color: color-mix(in srgb, var(--primary-color), transparent 40%);
    width: 80%;
    border: 8px dashed var(--color);
    margin: 20px auto;
    padding: 26px;
}

.cores p {
    margin: 0;
}

section {
    counter-reset: contador;
}

.cores {
    counter-increment: contador;
}

.cores::before {
    content: "[ " counter(contador) " ]";
    display: inline-block;
    margin-bottom: 16px;
    font-weight: bold;
}

.cores:nth-of-type(2) {
    background-color: red;
    background-clip: content-box;
}

.cores:nth-of-type(3) {
    background-color: hsl(100deg 100% 80% / .5);
    box-shadow: 10px 10px 6px hsl(100deg, 100%, 50%) inset;
}

.cores:nth-of-type(3):hover {
    background-color: hsl(100deg, 100%, 40%);
}

.cores:nth-of-type(4) {
    background-image: linear-gradient(70deg, blue, transparent),
        linear-gradient(to top, red, transparent);
    background-clip: content-box, padding-box;
}

.cores:nth-of-type(5) {
    background-image: radial-gradient(ellipse, blue 30%, #f008, green 50%, yellow);
}

.cores:nth-of-type(6) {
    background-image: radial-gradient(circle, blue 30%, #f008, green 50%, yellow);
}

.cores:nth-of-type(7) {
    background-image: radial-gradient(circle, blue, #f008, green, yellow);
}

.cores:nth-of-type(8) {
    background-image: radial-gradient(circle at 50px 20px, blue, #f008 20%);
}

.cores:nth-of-type(9) {
    background-image: radial-gradient(ellipse at 50px 20px, blue, #f008 20%);
}

.cores:nth-of-type(10) {
    background-image: radial-gradient(closest-corner at 50px 20px, blue, #f008);
}

.cores:nth-of-type(11) {
    background-image: radial-gradient(farthest-corner at 50px 20px, blue, #f008);
}

.cores:nth-of-type(12) {
    background-image: radial-gradient(closest-side at 50px 20px, blue, #f008);
}

.cores:nth-of-type(13) {
    background-image: radial-gradient(farthest-side at 50px 20px, blue, #f008);
}

.cores:nth-of-type(14) {
    background-image: radial-gradient(circle farthest-side at 50px 20px, blue, #f008);
}

.cores:nth-of-type(15) {
    background-image:
        radial-gradient(circle farthest-side at 50px 20px, #00F8, #f008),
        radial-gradient(circle farthest-corner at bottom right, yellow, transparent);
}

.cores:nth-of-type(16) {
    background-image:
        radial-gradient(at top, #00F8, #f008),
        radial-gradient(at bottom, yellow, transparent);
}

.cores:nth-of-type(17) {
    background-image: conic-gradient(from 45deg, red 50%, blue, green);
}

.cores:nth-of-type(18) {
    background-image: conic-gradient(#f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
    transition: filter 5s linear;
    aspect-ratio: 1;
}

.cores:nth-of-type(18):hover {
    filter: hue-rotate(10turn)
}

.cores:nth-of-type(19) {
    background-image:
        repeating-linear-gradient(to top right, white 0px, white 5px, black 5px, black 10px);
}

.cores:nth-of-type(20) {
    background-image:
        repeating-radial-gradient(white 0px, white 10px, black 10px, black 20px);
}

.cores:nth-of-type(21) {
    background-image:
        repeating-conic-gradient(white 0deg, white 10deg, black 10deg, black 20deg);
}

.cores:nth-of-type(22) {
    background-image:
        repeating-conic-gradient(transparent 0deg, transparent 10deg, black 10deg, black 20deg),
        repeating-radial-gradient(red 0%, transparent, blue 20%);
    background-attachment: fixed, scroll;

}

.cores:nth-of-type(23) {
    background-image:
        repeating-radial-gradient(red 0%, transparent, blue 20%),
        repeating-linear-gradient(red, blue);
    background-attachment: scroll, fixed;

}

.cores:nth-of-type(24) {
    box-shadow: 10px 10px 6px rgba(0, 0, 0, .8);
}

.cores:nth-of-type(25) {
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .8));
}

.cores:nth-of-type(26) {
    background-image: linear-gradient(to top right, transparent 50%, red 50%);
    box-shadow: 10px 10px 6px rgba(0, 0, 0, .8);
}

.cores:nth-of-type(27) {
    background-image: linear-gradient(to top right, transparent 50%, red 50%);
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .8));
}