body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: brown;
    margin-bottom: 50vh;
}

h1 {
    font-size: 48px;
    font-weight: lighter;
    text-align: center;
}

/* 
passo 1
.card {
    width: 350px;
    background-image: linear-gradient(135deg, transparent 25px, white 25px);
    filter: drop-shadow(0 0 5px black);
    padding: 40px 30px 30px 50px;
    box-sizing: border-box;
} */

/* 
passo 2
.card {
    width: 350px;
    background-image:
        linear-gradient(135deg, transparent 25px, rgb(153, 153, 153) 25px),
        linear-gradient(135deg, transparent 25px, white 25px);
    background-size: 34px 34px, 100%;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 5px black);
    padding: 40px 30px 30px 50px;
    box-sizing: border-box;
} */

.card {
    /* width: 320px; */
    /* flex-basis: calc(33% - 25px); */
    flex-basis: clamp(300px, calc(33% - 25px), 400px);
    flex-grow: 1;

    background-image: linear-gradient(135deg, transparent 25px, white 25px);
    filter: drop-shadow(0 0 5px black);
    padding: 40px 30px 30px 50px;
    box-sizing: border-box;
    position: relative;
}

.card::before {
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .3));
    background-image:
        linear-gradient(135deg, transparent 25px, rgb(153, 153, 153) 25px);
}

.card_title {
    margin: 0;
    font-weight: lighter;
}

.cards-container {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    /* outline: 2px solid black; */
}