:root{
    --login-primary-color: #3a68b7;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--login-primary-color);
    font-family: Roboto, sans-serif;
}

.form{
    width: 80%;
    max-width: 32rem;
    /* background-color: white; */
    /* outline: 10px solid rgba(0,0,0, .5); */
    background-image: linear-gradient(to right, rgba(0,0,0, .3) .5rem, white .5rem);
}

.form__fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    gap: .25em;
    padding: 2rem;
}

.form__title{
    font-weight: 300;
    font-size: 2rem;
    color: var(--login-primary-color);
    padding-top: 2rem;
}

.form__label{
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 300;
}

.form__input{
   padding: .5em 0;
   font-size: 1.2rem;
   border-radius: 0;
   border: none;
   border-bottom: 1px solid var(--login-primary-color);
   margin-bottom: .8rem;
   outline: none;
   transition: padding-left .08s;
}

.form__input:focus{
    outline: 2px solid var(--login-primary-color);
    padding-left: .3rem;
}

.btn{
    text-transform: uppercase;
    font-size: 1rem;    
    border-radius: 3px;
    border: none;
    outline: none;
    padding: .8rem 1.2rem;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}

.btn-primary{
    background-color: var(--login-primary-color);
    color: white;
}
.btn-secondary{
    color: var(--login-primary-color);
}

.form__action{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.form__action__aside{
    font-size: .85rem;
    flex-grow: 1;
    text-align: right;
    text-decoration: none;
    color: #999;
}

.form__action__link{
    text-decoration: inherit;
    color: inherit;
}