:root {
    --primary-color: #FF7833;
    --secondary-color: #31333B;
    --secondary-color-light: #444856;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    margin: 0;
    color: #e7e7e7;
    background-color: #ccc;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
    line-height: 1.7;
}

h1 {
    font-size: 4rem;
    color: #a9a7a7;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
    margin: 0;
}

h2 {
    margin-top: 1rem;
}

article {
    padding-top: 1px;
    padding-bottom: 1px;

}

.underline {
    text-decoration: red wavy underline;
}

.main-header {
    flex: 0 0 26rem;
    background-color: var(--secondary-color);
}

.main {
    background-color: var(--secondary-color-light);
    flex: 1 0;
    padding: 6.5rem 6rem 100vh;
}

a {
    color: inherit;
}

.main,
.main-header {
    font-size: 1.6rem;
}

.perfil-img {
    max-width: 10rem;
}

.main-nav {
    text-align: right;
    padding: 6.5rem 2.4rem 2.4rem;
}

.main-nav ul {
    padding: 0;
    list-style-type: none;
}

.main-nav ul a {
    display: block;
    padding: 1.2rem 0;
    text-decoration: none;
    transition: padding-right .2s, background-color .4s;
    background-color: transparent;
}

.main-nav ul a:hover {
    background-color: var(--secondary-color-light);
    padding-right: 1rem;
}

.main-nav li {
    border-bottom: 1px solid #7b7b7b;
    padding: .4rem 0;
}